* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20vmin;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10vmin;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    border: 10px double lime;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
}

#player {
    flex-direction: row; 
    display: flex;
}

#dealer {
    display: flex;
    flex-direction: row; 
    
}
div.dealer-cards {
    display: flex;
    height: 325px;
    width: 40vmin;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border: solid;
    margin-left: 10px;
    background-color: red;
}

div.player-cards{
    display: flex;
    height: 325px;
    width: 40vmin;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border: solid;
    margin-left: 10px;
    margin-top: 10px;
    background-color: red;
}

#dealer-total {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    width: 200px;
    height: 200px;
    margin-top: 50px;
    border: solid;
    background-color: sandybrown;
}
#player-total {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: solid;
    background-color: sandybrown;
}

#button {
    display: flex;
    width: 200px;
    margin-top: 5vmin;
    margin-right: 10vmin;
    justify-content: center;
    align-items: center;
    background-color: darkkhaki;
    border: 3px solid red;
    border-radius: 50%;
}

html, * {
    box-sizing: border-box;
  }
  
html, body {
    height: 100%;
  }
  
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    border: 4px dotted grey;
  }
  
button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
    background-color: gold;
    color: red;
    border: 1px solid grey;
    border-radius: 50%;
    outline: none;
}
  
  button:hover {
    background-color: red;
    color: black;
    cursor: pointer;
}

section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
input {
    border: 2px solid black;
    margin: 10px;
    width: 10vmin;
    height: 5vmin;
    font-size: medium;
    margin-right: 10vmin;
}
